---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import SecondaryNavbar from '../components/secondaryNavbar';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
import ComplexFooter from '../components/complexFooter';
---

<Layout title="SonusHUB">
	<main>
    <Navbar />
    <SecondaryNavbar client:load />
    <PromoSectionLarge 
      title={"New Collection"}
      full_description={"Check out our latest collection of products."}
      pageHeaderBgImg={"/images/bg1.jpg"}
      pageHeaderMinVh="75vh"
    />
    <div class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="font-bold text-xl">Rekomendasi Untuk Anda</h2>
            <a href="/products" class="font-bold text-sm text-primary">Lihat Semua</a>
        </div>
        <div class="row">
            {data.products.slice(0, 12).map(product => (
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                    <div class="card h-100">
                        {product.images && product.images.length > 0 ? (
                            <img src={product.images[0].src} class="card-img-top" alt={product.images[0].alt} />
                        ) : (
                            <img src="/images/mirror.png" class="card-img-top" alt="Image placeholder" />
                        )}
                        <div class="card-body">
                            <h5 class="card-title fs-6">{product.name}</h5>
                            <p class="card-text fw-bold">Rp {product.price}</p>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
    <PromoSectionLarge 
      title={"Summer Sale"}
      full_description={"Get up to 50% off on selected items."}
      pageHeaderBgImg={"/images/bg2.jpg"}
      pageHeaderMinVh="50vh"
      pageHeaderRadius="1rem"
    />
    <ComplexFooter client:load />
  </main>

</Layout>

<style>
  .card-category .card-body {
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
</style>